.form-container .mygengo-form-fields .form-field {
    padding: 0.5em 1em;
    margin:0;
}

.form-container .mygengo-form-fields .viewmode-label {
    display: block;
}

.form-container .mygengo-form-fields .yui-gb .yui-u, .yui-g .yui-gb .yui-u, .yui-gb .yui-g, .yui-gb .yui-gb, .yui-gb .yui-gc, .yui-gb .yui-gd, .yui-gb .yui-ge, .yui-gb .yui-gf, .yui-gc .yui-u {
   margin-left: 0.99%;
}

.form-container .mygengo-form-fields .yui-gc .yui-u .yui-g{
    width: 100%;
    margin:0;
}
.form-container .mygengo-form-fields .yui-gc .yui-u .yui-gb .first{
	width: 32%;
	margin-left: 0;
}
.form-container .mygengo-form-fields .yui-gc .yui-u .yui-gb .yui-u{
	  padding:0;
}

.form-container .mygengo-form-fields .yui-gc .yui-u .yui-gb .first{
    text-align:left;
}
